@using RunStore.Models
@model Product

<h1>Product Details </h1>
<article id="product-details">
    <h2>@Model.Name</h2>
    <section>
        <img width="450" src="@Model.ImageUrl" alt="@Model.Name" />
        <section>
            <p>@Model.Description</p>
        </section>
        <div>
            <span>Price:</span>
            <span>@Model.Price.ToString("n2") Kr</span>
        </div>
    </section>
</article>