@using RunStore.Models
@model IEnumerable<Product>;
<h1>Products</h1>
@foreach (var product in Model)
{
    <section>
        <h4>@product.Name</h4>
        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
            <img width="200" src="@product.ImageUrl" alt="@product.Name"></a>
            <span>@product.Price.ToString(format: "n2")</span>
        </section>
    }

